.row > * {
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.col {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#colLeft {
    opacity: 60%;
}

    #colLeft:hover {
        animation: OpacityChange 1s normal;
        opacity: 100%;
    }

#colRight {
    opacity: 60%;    
}

    #colRight:hover {
        animation: OpacityChange 1s normal;
        opacity: 100%;
    }

@keyframes OpacityChange {
    0% {
        opacity: 70%;
    }

    50% {
        opacity: 80%;
    }

    100% {
        opacity: 100%;
    }
}
