#LeftBlock {
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    padding: 0px;
    height: 1920px;
    width: 100%;
    background-image: url("../../images/Atoms_Background.jpeg");
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 80px;
    border: 55px;
}

#InsideBlock {
    height: 1920px;
    width: 100%;
    padding-top: 500px;
}

#BackgroundImage {
    opacity: 50%;
}

#ButtonArea {
    position: relative;
    text-align: -webkit-center;
}
