#RightBlock {
    height: 1920px;
    width: 100%;
    padding: 0px;    
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: -webkit-linear-gradient(right, rgb(196 5 199), rgb(6 20 52));
}

#MainRightBlock {
    padding: 30%;    
}

h1 {
    font-size: 80px;
}

#UserGrid {
    padding-top: 5%;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 400px;
}

#UsernamePassword {
    text-align: center;
    padding: 10px;
    position: relative;
    display: grid;
}

#EnterGetAccount {
    text-align: center;
    padding: 10px;
    position: relative;
    display: inline-grid;
}

.form-control {
    text-align: center;
    height: 50px;
}

.input-group {
    width: 400px;
    text-align: center;
    padding: 10px;
}

.input-group mb-3 {
    text-align: center;
    padding: 10px;
    width: 400px;
    height: 50%;
}

.input-group-text {
    text-align:center;    
}

.btn, btn-primary, btn-secondary {
    padding: 10px;
    height: 50px;
    width: 400px;
    background-color: darkslateblue;
}

.btn-primary {
    background-color:aqua;
}

#CloseButton {
    text-align: left;
    display: inline-block;
    width: 50px;
    position: unset;
    position: relative;
    height: 50px;
}

#ModalMessage {
    visibility: hidden;
}

#LoadingIcon {
    visibility: hidden;
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}